<div class="container-fluid">
  <nav class="navbar navbar-expand-xxl navbar-light bg-light">
    <div >
      <a class="navbar-brand mb-0 h1">IDCLE</a>
      <a class="nav-link active" class="text-left" aria-current="page" href="#">Home</a>
    </div>
    <div class="text-right">
      <button class="btn btn-success" (click)="btnclick()">Signup</button>
    </div>
  </nav>
</div>

