<h2>Users Detail</h2>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <button type="button" class="btn btn-danger" (click)="onClick(user.email)">Remove</button>
      </tr>

    </tbody>
  </table>
</div>
