<app-header></app-header>


<div class="row" >
  <div class="col"></div>
  <div class="col">
    <app-login *ngIf="hasRoute('/')"></app-login>
  </div>
  <div class="col"></div>
</div>
<div class="row" >
  <div class="col"></div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
  <div class="col"></div>
</div>




