

form{

  text-align: center;
  margin-top: 80px;


}

input{
 justify-content: center;
 margin-top: 10px;

}

#pass{
  margin-top: 40px;
}

button{
  margin-top: 40px;
}

#user{
  text-align: center;
  margin-left: 170px;
}
