<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" aria-describedby="emailhelp" placeholder="Enter email">
  </div>
  <div class="form-group" id="pass">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password" aria-describedby="passhelp" placeholder="Password">
  </div>

  <button class="btn btn-secondary">Login</button>

</form>

