<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Firstname</label>
    <input type="text" class="form-control" name="firstname" id="exampleInputEmail1" [(ngModel)]="Firstname" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Lastname</label>
    <input type="text"  class="form-control"  name="lastname" [(ngModel)]="Lastname" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label class="form-label" for="exampleCheck1" >Email</label>
    <input type="email" class="form-control" id="exampleCheck1" name="email" [(ngModel)]="Email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="Password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="lconpassword" [(ngModel)]="ConPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
